
<h1> The greatest basketball players of all time</h1>

<ol>
  <li>Micheal Jordan</li>
  <li>LeBron James</li>
  <li>Kobe Bryant</li>
  <li>Kevin Durant</li>
  <li>Russell Westbrook</li>
</ol>

<%= link_to image_tag('Capture.PNG'), 'www.udemy.com' %>

<%= link_to 'About', about_path %>